* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: auto;
}

button {
  outline: none;
  border: none;
}

p,
h4,
h3,
h5 {
  font-family: "Montserrat";
  font-style: normal;
}

label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #bdbdbd;
}
